@using System.Reflection;
@using Microsoft.AspNetCore.Components.Authorization
@inject IConfiguration Confgiguration

<Context SessionId=@SessionId>
    <Router AppAssembly="typeof(App).Assembly" AdditionalAssemblies="new[] { typeof(Client._discovery).Assembly }">
        <Found Context="routeData">
            <AuthorizeRouteView Resource="@routeData" RouteData="@routeData" DefaultLayout="@typeof(Client.Core.Layout.MainLayout)">
                <NotAuthorized>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h4">404 - PAGE NOT FOUND</MudText>
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(Client.Core.Layout.MainLayout)">
                <div class="d-flex justify-center">
                    <MudText Typo="Typo.h6">Sorry, there's nothing at this address.</MudText>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</Context>

@code {

    [Parameter]
    public string SessionId { get; set; } = Session.Default.Id;

}
